.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.TodoLists_top_margin{
    margin-top: 10px;
}
.delete_btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.delete_btn:hover,.delete_btn:active,.delete_btn:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border :0px ;
}

.del{
  text-decoration: line-through;
}

.list_badge_completed{
  background: rgb(92, 184, 92);
}


.list_badge_pending{
  background: rgb(91, 192, 222);
}
.delete_badge{
      background-color: rgb(217, 83, 79);
}